<div class="container">
  <mat-card class="mat-card">
    <div class="content-header">
      <div class="subtitle-left"> <mat-icon color="white" class="modicon">shopping_cart</mat-icon> Order Summary </div>
      <div class="subtitle-right"> Remove all </div>
    </div>

    <div class="example-container">
      <div *ngFor="let item of dataFromJson; let i = index">
        <div class="container-row">
          <div class="images">
          </div>
          <div class="column-title">
            <div class="title">
              {{item.item_name}}
            </div>
          </div>
          <div class="column-description">
            <div class="descripcion-products">
              {{item.short_description}}
            </div>
          </div>
          <div class="container-bottom-substract">
            <div class="bottom-operation">
              <button mat-mini-fab (click)="substractproduct(i)">
                <mat-icon class="icon-operation">remove</mat-icon>
              </button>
            </div>
          </div>
          <div class="quantity-number">
            {{item.quantity }}
          </div>
          <div class="container-bottom-add">
            <div class="bottom-operation">
              <button mat-mini-fab (click)="addproduct(i)">
                <mat-icon class="icon-operation">add</mat-icon>
              </button>
            </div>
          </div>
          <div class="price">
            {{item.price_without_tax * item.quantity | currency:'USD':'symbol' }}
          </div>
          <div class="trash-icon">
            <div class="example-button-container">
              <button class="btn-trash" (click)="deletitem(i)">
                <mat-icon class="icon-delete">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-account">
      <div class="subtotal-left"> Subtotal </div>
      <div class="subtotal-right"> {{ accountSubtotal | currency:'USD':'symbol' }} </div>
    </div>
    <div class="content-account">
      <div class="subtotal-left"> Sipping fees </div>
      <div class="subtotal-right"> {{ accountshippnfees | currency:'USD':'symbol' }}</div>
    </div>
    <div class="content-account">
      <div class="subtotal-left"> Taxes </div>
      <div class="subtotal-right"> {{ accounttaxes | currency:'USD':'symbol' }} </div>
    </div>
    <div class="content-account">
      <div class="subtotal-left"> Total (including tax) </div>
      <div class="subtotal-right"> {{ accounttotal | currency:'USD':'symbol' }} </div>
    </div>
  </mat-card>

</div>